[Unit]
Description=BAM Backbone Monitor

[Service]
Type=simple
ExecStart=/root/BackboneMonitor/src/Main.js
Restart=on-failure
User=root
WorkingDirectory=/root/BackboneMonitor/src

[Install]
WantedBy=multi-user.target
